<div role="navigation" id="foo" class="nav-collapse">
    <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#/dashboard">Dashboard</a></li>
        <li><a href="#/transfer">Transfer</a></li>
        <li><a href="#/account">Account</a></li>
        <li><a href="#/about">About</a></li>
        <hr>
        <li style="right: 0"><a href="#/" style="font-size: 10px;margin-left: 70%;">Login Out</a></li>

    </ul>
</div>

<div role="main" class="main" style="min-height: 100vh;">

    <!--{{transfers}}-->
    <a href="#nav" class="nav-toggle">Menu</a>
    <h3 style="font-size: 25px">Dashboard</h3>

    <div class="container" id="tourpackages-carousel">
        <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-repeat="transf in transfers track by transf.id" id="tr-id-{{transf.id}}">
                <div class="thumbnail" style="min-height: 220px">
                    <div class="caption">
                        <div class='col-lg-12'>
                            <span class="glyphicon glyphicon-credit-card"></span>
                            <span ng-if="transf.accountTo == '7b79b8cde46035bc7db2ae4250748f3a'" class="glyphicon glyphicon-download pull-right text-primary"></span>
                            <span ng-if="transf.accountTo != '7b79b8cde46035bc7db2ae4250748f3a'" class="glyphicon glyphicon-upload pull-right text-primary"></span>

                        </div>
                        <div class='col-lg-12 well well-add-card'>
                            <h4 class="word-wrap" ng-if="transf.accountTo == '7b79b8cde46035bc7db2ae4250748f3a'" >{{transf.accountFrom}} -</h4>
                            <h4 class="word-wrap" ng-if="transf.accountTo != '7b79b8cde46035bc7db2ae4250748f3a'">{{transf.accountTo}}</h4>
                        </div>
                        <div class='col-lg-12' style="font-size: 12px;">
                            <p style="font-size: 15px;">amount:{{transf.amount}}</p>
                            <p >Exp: {{transf.timestamp}}12-08</p>
                            <p class="word-wrap">Description: {{transf.description}}</p>
                        </div>

                    </div>
                </div>
            </div>

        </div><!-- End row -->
    </div><!-- End container -->

   </div>

<script>
    var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
</script>
