<div class="col-sm-3 col-md-2 sidebar">
    <div togglemenu="" class="top-navigation">
        <div class="t-menu">MENU</div>
        <div class="t-img">
            <img src="../asset/image/lines.png" alt="" />
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="drop-navigation">
        <ul class="nav nav-sidebar">
            <li ><a href="#/dashboard"><span class="glyphicon" aria-hidden="true"></span><span translate="leftnav.dashboard"></span></a></li>
            <li ><a href="#/event" ng-click="leftCtrl.findEvents()" class="user-icon"><span class="glyphicon glyphicon-home glyphicon-blackboard" aria-hidden="true"></span><span translate="leftnav.manageevents"></span></a></li>

        </ul>
    </div>
</div>
