
<div role="navigation" id="foo" class="nav-collapse">
    <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#/dashboard">Dashboard</a></li>
        <li><a href="#/transfer" ng-click="queryTransfer()" >Transfer</a></li>
        <li><a href="#/account">Account</a></li>
        <li><a href="#/about">About</a></li>

        <hr>
        <li style="right: 0"><a href="#/" style="font-size: 10px;margin-left: 70%;">Login Out</a></li>

    </ul>
</div>

<div role="main" class="main" style="min-height: 100vh;">
    <a href="#nav" class="nav-toggle">Menu</a>
    <h3 style="font-size: 25px">Transfer</h3>


    <div class="show-top-grids" >
        <h5 style="float: left">{{globalemail}}</h5>
        <div style="float: right;margin-top: -35px">
            <button class="button button-glow button-border button-rounded button-primary ng-binding" ng-model="click"  data-toggle="modal" data-target="#add-camera-modal">Create Transfer</button>
        </div>
        <div class="clearfix"></div>
        <hr>

        <div style="clear: both;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-repeat="transf in transfers track by transf.id" id="tr-id-{{transf.id}}">
                    <div class="thumbnail" style="height: 120px;">
                        <div class="caption" >
                            <div class='col-lg-12'>
                                <span class="glyphicon glyphicon-camera"></span>
                                <span ng-model="click" id="{{transf.id}}" name="{{transf.transf_id}}" onclick="showConfirmDialog(this.id)" class="glyphicon glyphicon-trash pull-right text-primary" style="cursor: pointer"></span>
                                <!--<span ng-model="click" style="margin-right: 10px" class="glyphicon glyphicon-pencil pull-right text-primary"></span>-->
                            </div>
                            <div class='col-lg-12  well-add-card'>
                                <h4>{{transf.camera_id}}</h4>
                            </div>
                            <div class='col-lg-12'>
                                <p style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{transf.description}}</p>
                                <p class="text-muted">Exp: 12-08</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <form name="form" ng-submit="createTransfer()" role="form" >
            <div class="modal fade" id="add-camera-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title" id="exampleModalLabel">Create Transfer</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="transfer-id">Account ID</label>
                                <input type='text' class="form-control" name="transfer-id"  id='transfer-id' required/>
                            </div>
                            <div class="form-group">
                                <label for="transfer-coin">Number of coin</label>
                                <input type='text' class="form-control" name="transfer-coin"  id='transfer-coin' required/>
                            </div>
                            <div class="form-group">
                                <label for="transfer-description">Description</label>
                                <input type='text' class="form-control" name="transfer-description" id='transfer-description' required/>
                            </div>
                            <div class="form-group">
                                <label for="transfer-signature">Signature</label>
                                <input type='text' class="form-control" name="transfer-signature" id='transfer-signature' required/>
                            </div>
                            <button type="submit" class="btn btn-warning ng-pristine ng-untouched ng-valid ng-empty">Add</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>



    </div>
</div>

<script>
    var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
</script>


